<section class="partidos-navbar">
  <div class="container">
    <h1 class="title-partidos">COPA DEL MUNDO</h1>
    <h1 class="title-partidos title-partidos-2">Primera fase</h1>
  </div>
</section>
<section class="partidos-group">
  <div class="row">
    <div class="col-md-8 col-sm-8 grupos-mundial">
      <app-grupos-list [paisGrupoA]="paisGrupoA" [paisGrupoB]="paisGrupoB" [paisGrupoC]="paisGrupoC" [paisGrupoD]="paisGrupoD"
        [paisGrupoE]="paisGrupoE" [paisGrupoF]="paisGrupoF" [paisGrupoG]="paisGrupoG" [paisGrupoH]="paisGrupoH"></app-grupos-list>
    </div>
    <div class="col-md-4 col-sm-4 sidebar grupo-categoria" style="">

      <app-eventos></app-eventos>

    </div>
  </div>
</section>  