<li class="post cf">
  <a href="" class="image-link">
    <img width="100" height="100" src="http://18.228.37.198/img/evento/{{evento.img_event}}"
      class="attachment-cheerup-thumb-alt size-cheerup-thumb-alt wp-post-image lazyloaded" alt="" title="A Look Inside The Work Abode">
  </a>

  <div class="content">
    <a [routerLink]="['../evento/', evento.id]" class="post-title" title="A Look Inside The Work Abode">
      {{evento.title_event | titlecase}} </a>
    <div class="post-meta post-meta-a">
      <a href="" class="date-link">
        <time class="post-date" datetime="2016-05-15T04:38:11+00:00"> {{evento.fecha_event | date:'mediumDate'}} </time>
      </a>
    </div>
  </div>
</li>
